body {
    background-color: #7FA0B3;
}

header {
    border: 40px ridge #B8A533;
    padding: 30px;
    margin: 30px;
    padding-right: 20px;
    border-radius: 45% 55% 55% 45% / 89% 87% 13% 11%;
    background-color: #8A9641;
}

h1 {
    color: #466C80;
    text-align: center;
    font-size: 350%;
    font-stretch:wider;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h2 {
    text-align: center;
    font-family: serif;
    color: #D0F0E9;
}

img {
    border-radius: 50%;
    width: 400px;
    margin:auto;
    border: 30px solid sienna;
}

p {
    color: #D0F0E9;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: larger;
}

#factlist {
    border: 50px solid sienna;
    padding: 15px;
    border-radius: 50%;
    background-color: sienna;
    justify-content: baseline;
}

h3 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif  ;
    font-size: x-large;
}

ul {
    color: #112040;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

li {
    color: #dad378;
    line-height: 1.5;
}

#columns {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
