body {
    background-color: #254952;
}

header {
    border: 70px ridge #6db895;
    padding: 30px;
    margin: 50px;
    border-radius: 45% 55% 55% 45% / 89% 87% 13% 11%;
}

#hello {
    font-size: xx-large;
}

h1 {
    color: #9b9c4b;
    text-align: center;
    font-size: 450%;
    font-stretch:wider;
    font-family: monospace;
}

h2 {
    text-align: center;
    font-family: monospace;
    color: #9ab69e;
}

img {
    border-radius: 50%;
    width: 370px;
    border: 40px ridge #b19a33;
}

p {
    color: #D0F0E9;
    font-family: monospace;
    font-size: x-large;
    border: 35px solid #529777;
    border-radius: 20%;
    background-color: #529777;
    margin: 50px;
    align-items: center;
    text-align: center;
}

#factlist {
    border: 40px ridge #b19a33;
    padding: 45px;
    border-radius: 60%;
}

h3 {
    text-align: center;
    font-family: monospace;
    font-size: x-large;
    color:#8fd1cc;
}

ul {
    color: #8fd1cc;
    line-height: 1.5;
}

#columns {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

h3 {
    font-size: xx-large;
}

nav {
    margin: 40px;
    color: rgb(189, 181, 75);
    border: 20px solid rgb(175, 177, 86);
    padding: 10px;
    font-family: monospace;
}
